body{
    background-image:url(../images/veganPizza.jpg);
    size: 100%;
    background-repeat: repeat-x;
    background-position: center center;
}
nav {
    display: flex;
    flex-direction: column;
}
img {
    border-radius: 100%;
    margin-left: 40%;
    width: 200px;
    height: 200px;
}
#menus {
    /*display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center; */
}
p {
    font-family: 'Yeon Sung', cursive;
    font-size:100%;
}
h2 {
    font-family: 'Lakki Reddy', cursive;
    size: 150%;
}
.jumbotron {
    margin: auto;
    padding: 30px;
}